{% extends 'base.html' %}
{% load static %}
{% block content %}
{{ block.super }}
<hr style="color: white;">
<div class="container">
  <div class="content" id="content">
    <div>
      {% for image in first %}
      <a href="/image/{{image.id}}">
        <img src="{{image.photo.url}}" alt="img" class=" img img-thumbnail" >
      </a> 
      {% endfor %}
    </div>
    <div>
      {% for image in second %}
      <a href="/image/{{image.id}}">
        <img src="{{image.photo.url}}" alt="img" class=" img img-thumbnail">
      </a>
      {% endfor %}
    </div>
    <div>
      {% for image in third %}
      <a href="/image/{{image.id}}">
        <img src="{{image.photo.url}}" alt="img" class=" img img-thumbnail">
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<hr style="color: white;">
<!-- footer  -->
    <footer class="footer">
      <div class="container">
          <div class="row">
            <div class="col-sm">
              <a href="#" class="footer-logo"> <img src="{% static 'img/pic-logo.png' %}" alt="logo" style="width:150px; height:150px;padding-bottom: 0 !important;"></a>
            </div>
            <div class="col-sm">
              <h3 class="mt-5">Links</h3>
              <ul class="list-unstyled ">
                <li ><a href="/" class="links">Home</a></li>
                <li ><a href="/admin" class="links">Admin</a></li>
              </ul>
              <p class="copyright mt-5">
                <small>&copy; 2021</small>
              </p>
            </div>
            <div class="col-md-3 social">
              <h3 class="mt-5">Follow me</h3>
              <div>
                <ul class="list-unstyled">
                  <li><a href="#"><i class="bi bi-facebook bi-footer"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter bi-footer"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin bi-footer"></i></a></li>
                  <li><a href="#"><i class="bi bi-telegram bi-footer"></i></a></li>
                </ul>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
