{% load static %}
  <header class="p-3 bg-transparent text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'img/pic-logo.png' %}" alt="logo" style="width:150px; height:150px;padding-bottom: 0 !important;">
      </a>
        <div class="navbar-right">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'search_results' %}">
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Search By Category" name="category">
          <div class="input-group-btn">
            <button class="btn btn-transparent" type="submit"><i class="bi bi-search" style="color: white;"></i></button>
          </div>
        </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 col-sm-6">
          {% if locations %}
          <h3 class="text-center">Locations</h3>
          {% for location in locations %}
          <a href="/location/{{location.id}}" class="badge badge-secondary" style="margin-left: 1%;"><i class="bi bi-geo-alt-fill"></i>&nbsp;{{location.name}}</a>
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-5 col-sm-6">
          {% if categories %}
          <h3 class="text-center">Categories</h3>
          {% for category in categories %}
          <a href="/category/{{category.id}}" class="badge badge-secondary"
            style="margin-left: 1%;">#{{category.name}}</a>
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>