{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-5 text-center">
  {% if images%}
    <h2 class="mb-5">{{message}}</h2>
    <div class="content">
      <div>
        {% for image in first %}
        <img class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
        {%endfor%}
      </div>
      <div>
        {% for image in second %}
        <img class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
        {%endfor%}
      </div>
      <div>
        {% for image in third %}
        <img class="image img-thumbnail" id={{image.name}} src="{{image.photo.url}}">
        {%endfor%}
      </div>
    </div>
  {%endif%}
</div>
<!-- Footer-->
<hr style="color: white;">
 <footer class="footer">
      <div class="container">
          <div class="row">
            <div class="col-sm">
              <a href="#" class="footer-logo"> <img src="{% static 'img/pic-logo.png' %}" alt="logo" style="width:150px; height:150px;padding-bottom: 0 !important;"></a>
            </div>
            <div class="col-sm">
              <h3 class="mt-5">Links</h3>
              <ul class="list-unstyled ">
                <li ><a href="/" class="links">Home</a></li>
                <li ><a href="/admin" class="links">Admin</a></li>
              </ul>
              <p class="copyright mt-5">
                <small>&copy; 2021</small>
              </p>
            </div>
            <div class="col-md-3 social">
              <h3 class="mt-5">Follow me</h3>
              <div>
                <ul class="list-unstyled">
                  <li><a href="#"><i class="bi bi-facebook bi-footer"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter bi-footer"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin bi-footer"></i></a></li>
                  <li><a href="#"><i class="bi bi-telegram bi-footer"></i></a></li>
                </ul>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
