*{
  font-family: 'Comfortaa', cursive;
  color: white;
}
body{
  background-color: black;
}
/* Image  */
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding-bottom: 24px;
  align-self: start;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 2fr) !important;
  grid-gap: 20px;
  grid-auto-rows: auto;
}
.img-thumbnail {
  cursor: pointer !important;
}

.img-text{
  color: black !important;
}

/* Navbar  */
.nav-tag{
  color: white;
}
.nav-tag:hover{
  color: #00e6cb;
}
.bi-admin{
  color: white;
}
.bi-admin:hover{
  color: #00e6cb;
  text-decoration: none;
}
.admin{
  text-decoration: none;
}
.search{
  margin-left: 5px;
  border-radius: 5px;
  border: solid 1px #00e6cb;
}
.search:hover{
  background-color: #00e6cb;
}
.icon-search{
  color: #00e6cb;
}

/* footer  */
.social{
  display: flex;
  flex-direction: column;
}
.bi-footer{
  color: #00e6cb;
}
.links{
  color: #00e6cb;
  text-decoration: none;
}
.links:hover{
  color: white;
  text-decoration: #00e6cb underline;
}
